@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet')
@import "global"
.logo
	width 3.5rem
.btn
	display flex
	align-items center
	border solid 0px
	box-shadow none
.user
	display inline-flex
	flex-direction column
	font 11px 400 grey
	p
		text-transform lowercase
		margin 0
.dropdown
	align-self self-start
.cog::after
	display none
.brand
	display flex
	justify-content center
	width 100%
	align-items center
	h1
		font-size 2rem
@media screen and (min-width: 993px)
	.dropdown
		align-self center
