@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet')
@import "global"
img
	width 7rem
// .fixed
// 	position fixed
.navbar
	padding .5rem !important
	// position fixed
.btn
	display flex
	align-items center
	border solid 0px
	box-shadow none
.navbar-nav
	align-items center
.user
	display inline-flex
	flex-direction column
	font 11px 400 grey
	p
		text-transform lowercase
		margin 0

.dropdown
	align-self center
.cog::after		
	display none
.table
	border 0px solid white !important
	border-collapse separate
	border-spacing 1rem
	tr
		
		td
			border 0px solid white !important
.table-striped tbody tr:nth-of-type(odd)
	background-color transparent
.table thead th
.table-bordered td, .table-bordered th
	border 0px solid

// .body .classLeft
// 	left 0px
// .close
// 	position static
// 	border 1px solid
// 	padding 1rem 2rem
// 	width 200px
// 	text-align right
// 	top -59px
// .toggleSide
// 	position absolute
// 	left -125px
// 	transition 0.85s
// 	// transition left .35s ease-in-out
// 	background-color red
// 	top 0
// 	bottom 0
// .background_side
// 	background-color red
// 	position fixed
// .none
// .hide
// 	display none

// .nav_responsive
// 	display block

// @media screen and (min-width:993px)
// 	.nav_responsive
// 		display none
	