@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet')
@import "global"
.flex
	display flex
	// justify-content center
	align-items center
	flex-direction column
.content-top
.switch-one
.switch-two
	display flex
.progress
	width 250px
	margin 0.5rem
	border-radius 10px

.content-middle
	padding 1rem
	border-radius 5px
	div
		display flex
.dataTables_length
.table-footer
	display none
.dataTables_wrapper
	div:nth-child(3n)
		display none


